* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

#headerContainer {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 5rem;
    background-color: rgb(64, 149, 228);
    
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    background: linear-gradient(180deg,  rgb(64, 149, 228), rgba(29, 133, 231, 0.301) );
    position: absolute;
    right: 0px;
    top: -20rem;
    width: 10rem;
    list-style: none;
    transition: all 0.5s;
}

.nav-active {
    transform: translateY(25rem);
}

.burgerLine {
    background-color: black;
    width: 2rem;
    height: 0.2rem;
    margin-top: 0.4rem;
}

#footerDivider {
    position: relative;
    top: 5rem;
    width: 100vw;
    height: 0.1rem;
    background-color: red;
}

#imgSimhall {
    position: relative;
    top: 5rem;
}

footer {
    background-color: rgb(223, 223, 223);
    height: calc
}

.textBox {
    position: relative;
    top: 5rem;
    padding: 2rem;
}

#imgSimhall {
width: 100vw;
height:auto;
}

#poolImg {
    position: absolute;
    left: 30vw;
    width: 22rem;
    height: 30rem;
    top: 2rem;
}

h3 {
    margin-top: 5rem ;
}
